@model GastroApp.Models.Pracownicy.ViewModel.PracownikIndex;
@{
    ViewData["Title"] = "Zwalnianie pracownika";
}

<br />
<br />

<h2>Zwalnianie pracownika</h2>

<form asp-action="Lockout" method="post">
    <div class="p-4 rounded border">

        <input type="hidden" asp-for="Id" />

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Imie"></label>
            </div>
            <div class="col-5">
                <input asp-for="Imie" class="form-control" readonly="readonly" />
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Nazwisko"></label>
            </div>
            <div class="col-5">
                <input asp-for="Nazwisko" class="form-control" readonly="readonly" />
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" readonly="readonly" />
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber">Telefon</label>
            </div>
            <div class="col-5">
                <input asp-for="PhoneNumber" class="form-control" readonly="readonly" />
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Roles"></label>
            </div>
            <div class="col-5">
                <input asp-for="Roles" class="form-control" readonly="readonly" />
            </div>
        </div>
    </div>

    </br>
    <h5>Czy na pewno chcesz zwolnić tego pracownika?</h5>
    <p>Nie będzie się on mógł już korzystać z serwisu, jednak jego działania zostaną bez zmian.</p>
    <div>
        <input type="submit" class="btn btn-danger" value="Zwolnij" />
        <a asp-action="Index" class="btn btn-secondary">Wróć do listy</a>
    </div>
</form>
