@using GastroApp.Models.Pracownicy
@model Pracownik
@{
    ViewData["Title"] = "Pomyślne logowanie";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Witaj, <a class="text-success">@Model.UserName</a>!</h1>
    <br />
    
    <p>
        Przyjemnej pracy!
    </p>
</div>